{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links Example</title>
    <link rel="stylesheet" href="{% static 'bookmodule/main1.css' %}">
</head>
<body>
    <div id="link-container"> 
        <a class="external-link" href="https://www.qu.edu.sa" target="_blank">Go to QU website (open a new tab)</a>
        <a class="internal-link" href="https://www.qu.edu.sa">Go to QU website (open in the same page/tab)</a>
        <a class="highlighted-link" href="https://www.qu.edu.sa">Go to QU website (open in the same page/tab)</a>
    </div>
</body>
</html>
